#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}
h2{
    height:70px;
        width:35px;
}

.container
{
    text-align: center;
}

/*Start your code from here */
#myCarousel{
    background-color: darkmagenta;
    height:70px;
}
#myCarousel img{
    height:70px;
    margin-top: 35px;
    
}
.carousel-inner p{
 color:white;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}
img{
height:200px;
    width:200px;
}
    

